
body{
  /* background-image: url("QYjuyg.webp"); */
  background-repeat:no-repeat;
  background-size: cover;
}

/* Color Changing Background */
/* body {
    -webkit-animation: colorchange 60s infinite;
    animation: colorchange 60s infinite;
}
@-webkit-keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}
@keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}   */

h1 {
  /* font-family: 'BIZ UDPMincho', serif; */
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

table{
  margin: auto;
}

td{
  display: inline-block;
  /* This will be ovewritten */
  background-color: black;
  height: 350px;
  width: 100px;
  /* padding: 10px; */
  border: 2px solid white;
  margin: 2px;
}

#col1 {
  background-color: #FBF8CC;
}

#col2{
  background-color: #FDE4CF;
}

#col3{
  background-color: #FFCFD2;
}

#col4{
  background-color: #F1C0E8;
}

#col5{
  background-color: #CFBAF0;
}
